src/main/resources/VendaService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="VendaService" targetNamespace="urn:com.example.mercearia:mercearia:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.mercearia:mercearia:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.example.mercearia:mercearia:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.example.mercearia:mercearia:1.0">
  <xs:element name="pessoa" type="tns:pessoa"/>
  <xs:element name="resposta" type="tns:resposta"/>
  <xs:element name="venda" type="tns:venda"/>
  <xs:complexType name="venda">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tns:pessoa"/>
      <xs:element name="valor" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pessoa">
    <xs:sequence>
      <xs:element name="idade" type="xs:int"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resposta">
    <xs:sequence>
      <xs:element name="error" type="xs:boolean"/>
      <xs:element minOccurs="0" name="msg" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="realizarVenda" type="tns:realizarVenda"/>
  <xs:complexType name="realizarVenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="venda" type="tns:venda"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="realizarVendaResponse" type="tns:realizarVendaResponse"/>
  <xs:complexType name="realizarVendaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resposta" type="tns:resposta"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="realizarVendaResponse">
    <wsdl:part name="parameters" element="tns:realizarVendaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="realizarVenda">
    <wsdl:part name="parameters" element="tns:realizarVenda">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="VendaServicePortType">
    <wsdl:operation name="realizarVenda">
      <wsdl:input name="realizarVenda" message="tns:realizarVenda">
    </wsdl:input>
      <wsdl:output name="realizarVendaResponse" message="tns:realizarVendaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VendaServiceSoapBinding" type="tns:VendaServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="realizarVenda">
      <soap:operation soapAction="realizarVenda" style="document"/>
      <wsdl:input name="realizarVenda">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="realizarVendaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendaService">
    <wsdl:port name="VendaServicePort" binding="tns:VendaServiceSoapBinding">
      <soap:address location="http://localhost:8080/mercearia/VendaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
